# DATA SCIENCE CHALLENGE FOR THE RECRUITING PROCESS AT AMADEUS

In [3]:
!git init Challenge.git

Initialized empty Git repository in /home/dsc/Data/challenge/Challenge.git/.git/

In [ ]:
!kwrite Challenge.git/

## First Excercise: count the number of lines in Python for each file

In [1]:
!pwd

/Users/NachoSJ

In [4]:
!ls Documents/KSchool/Master\ DS\ IV

2017_03_24
2017_03_25
2017_03_31
2017_04_01
2017_04_07
2017_04_08
2017_04_21
2017_04_22
2017_05_05
2017_05_06
DataScience_introducción a la programació con Python_sergiosimon.docx
Guía del Alumno_DS.pdf
Halevy,Norvig,Pereira- The Unreasonable Effectiveness of Data.pdf
PY Challenge
Resumen Linea de Comandos.xlsx
Shared Folder_Fedora
books
machine-learning.pdf

In [8]:
cd Documents/KSchool/Master\ DS\ IV

/Users/NachoSJ/Documents/KSchool/Master DS IV

In [9]:
ls

2017_03_24/
2017_03_25/
2017_03_31/
2017_04_01/
2017_04_07/
2017_04_08/
2017_04_21/
2017_04_22/
2017_05_05/
2017_05_06/
DataScience_introducción a la programació con Python_sergiosimon.docx
Guía del Alumno_DS.pdf
Halevy,Norvig,Pereira- The Unreasonable Effectiveness of Data.pdf
PY Challenge/
Resumen Linea de Comandos.xlsx
Shared Folder_Fedora/
books/
machine-learning.pdf

In [11]:
cd PY Challenge

/Users/NachoSJ/Documents/KSchool/Master DS IV/PY Challenge

In [16]:
path = '/Users/NachoSJ/Documents/KSchool/Master DS IV/PY Challenge/searches.csv'

In [12]:
ls

11-12_Python_Chall_all.pptx  searches.csv
bookings.csv.bz2

In [14]:
import pandas as pd

In [17]:
searches = pd.read_csv(path, sep='^')

/Users/NachoSJ/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (40,41,42,44) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [18]:
searches.head()

,Date,Time,TxnCode,OfficeID,Country,Origin,Destination,RoundTrip,NbSegments,Seg1Departure,...,Seg6Arrival,Seg6Date,Seg6Carrier,Seg6BookingCode,From,IsPublishedForNeg,IsFromInternet,IsFromVista,TerminalID,InternetOffice
0,2013-01-01,20:25:57,MPT,624d8c3ac0b3a7ca03e3c167e0f48327,DE,TXL,AUH,1.0,2.0,TXL,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,FRA
1,2013-01-01,10:15:33,MPT,b0af35b31588dc4ab06d5cf2986e8e02,MD,ATH,MIL,0.0,1.0,ATH,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,KIV
2,2013-01-01,18:04:49,MPT,3561a60621de06ab1badc8ca55699ef3,US,ICT,SFO,1.0,2.0,ICT,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,NYC
3,2013-01-01,17:42:40,FXP,1864e5e8013d9414150e91d26b6a558b,SE,RNB,ARN,0.0,1.0,RNB,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,STO
4,2013-01-01,17:48:29,MPT,1ec336348f44207d2e0027dc3a68c118,NO,OSL,MAD,1.0,2.0,OSL,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,OSL

In [20]:
searches.shape

(20390198, 45)

In [21]:
!bunzip2 bookings.csv.bz2

In [22]:
ls

11-12_Python_Chall_all.pptx  searches.csv
bookings.csv

In [24]:
path2 = '/Users/NachoSJ/Documents/KSchool/Master DS IV/PY Challenge/bookings.csv'

In [25]:
bookings = pd.read_csv(path2, sep = '^')

/Users/NachoSJ/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (7,8,27) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [26]:
bookings.head()

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,...,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
0,2013-03-05 00:00:00,1A,DE,a68dd7ae953c8acfb187a1af2dcbe123,1a11ae49fcbf545fd2afc1a24d88d2b7,ea65900e72d71f4626378e2ebd298267,2013-02-22 00:00:00,1708,0,ZRH,...,LHRZRH,VI,T,Y,2013-03-07 08:50:00,2013-03-07 11:33:37,-1.0,2013.0,3.0,NULL
1,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,SALATLCLT,NV,L,Y,2013-04-12 13:04:00,2013-04-12 22:05:40,1.0,2013.0,3.0,NULL
2,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,CLTATLSAL,NV,U,Y,2013-07-15 07:00:00,2013-07-15 11:34:51,1.0,2013.0,3.0,NULL
3,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,AKLHKGSVO,XK,G,Y,2013-04-24 23:59:00,2013-04-25 16:06:31,1.0,2013.0,3.0,SYDA82546
4,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,SVOHKGAKL,XK,G,Y,2013-05-14 20:15:00,2013-05-16 10:44:50,1.0,2013.0,3.0,SYDA82546

In [27]:
bookings.shape

(10000010, 38)

In [31]:
## Investigar import bz2
## bz2.open
## output = bz2.BZ2File('example_lines.txt.bz2', 'wb')

11-12_Python_Chall_all.pptx  searches.csv
bookings.csv

## Second Excercise: Top 10 arrivals airports in the world in 2013 (bookings file)

In [83]:
# Para facilitar el ejercicio creo un panda con los campos que necesito y desecho el resto:
bookings_2ndExcercise = bookings[['arr_port', 'pax']]

In [84]:
bookings_2ndExcercise.head()

   arr_port  pax
0  LHR      -1.0
1  CLT       1.0
2  CLT       1.0
3  SVO       1.0
4  SVO       1.0

In [85]:
# Voy a agrupar por arr_port sumando el numero de viajeros y ordeno.
Top_10_arrivals = bookings_2ndExcercise.groupby('arr_port').sum()

In [113]:
Top_10_arrivals_sort = Top_10_arrivals.sort_values('pax', ascending = False).head(10)
Top_10_arrivals_sort

              pax
arr_port
LHR       88809.0
MCO       70930.0
LAX       70530.0
LAS       69630.0
JFK       66270.0
CDG       64490.0
BKK       59460.0
MIA       58150.0
SFO       58000.0
DXB       55590.0

## Bonus point I: Get the name of the city or airport corresponding to that airport 
(Look at Geobases in GitHub)

## Bonus point II: Solve the same problem using pandas

In [87]:
# Primero vamos a buscar que columnas de bookings pueden ayudarnos a resolver este problema
bookings.columns

Index([u'act_date           ', u'source', u'pos_ctry', u'pos_iata',
       u'pos_oid  ', u'rloc          ', u'cre_date           ', u'duration',
       u'distance', u'dep_port', u'dep_city', u'dep_ctry', u'arr_port',
       u'arr_city', u'arr_ctry', u'lst_port', u'lst_city', u'lst_ctry',
       u'brd_port', u'brd_city', u'brd_ctry', u'off_port', u'off_city',
       u'off_ctry', u'mkt_port', u'mkt_city', u'mkt_ctry', u'intl',
       u'route          ', u'carrier', u'bkg_class', u'cab_class',
       u'brd_time           ', u'off_time           ', u'pax', u'year',
       u'month', u'oid      '],
      dtype='object')

In [88]:
Top_10_arrivals.shape

(2275, 1)

In [93]:
Top_10_arrivals_sort.reset_index()['arr_port']

0    LHR
1    MCO
2    LAX
3    LAS
4    JFK
5    CDG
6    BKK
7    MIA
8    SFO
9    DXB
Name: arr_port, dtype: object

In [ ]:
# No lo consigo. Seguir probando

## Third Excercise: plot the monthly number of searches for flights arriving at Malaga, Madrid or Barcelona

In [94]:
searches.columns

Index([u'Date', u'Time', u'TxnCode', u'OfficeID', u'Country', u'Origin',
       u'Destination', u'RoundTrip', u'NbSegments', u'Seg1Departure',
       u'Seg1Arrival', u'Seg1Date', u'Seg1Carrier', u'Seg1BookingCode',
       u'Seg2Departure', u'Seg2Arrival', u'Seg2Date', u'Seg2Carrier',
       u'Seg2BookingCode', u'Seg3Departure', u'Seg3Arrival', u'Seg3Date',
       u'Seg3Carrier', u'Seg3BookingCode', u'Seg4Departure', u'Seg4Arrival',
       u'Seg4Date', u'Seg4Carrier', u'Seg4BookingCode', u'Seg5Departure',
       u'Seg5Arrival', u'Seg5Date', u'Seg5Carrier', u'Seg5BookingCode',
       u'Seg6Departure', u'Seg6Arrival', u'Seg6Date', u'Seg6Carrier',
       u'Seg6BookingCode', u'From', u'IsPublishedForNeg', u'IsFromInternet',
       u'IsFromVista', u'TerminalID', u'InternetOffice'],
      dtype='object')

In [111]:
searches[['Destination']].groupby().count().sort_values

TypeError: You have to supply one of 'by' and 'level'